*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.jumbotron{
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
}
#about-landing{
	color:#f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}
#mission{
	height: 100%;
	background-color: #141414;
	color: #f2f2f2;	
}
#vision{
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}
.about-tags{
	font-weight: bold;
}
.bg-primary {
    background-color: #0A1828 !important;
}
p{
	color: white;
}
.navbar-collapse{
	color: orange;
}
.navbar-brand b{
	color:orange;

}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;   
}
.orange{
    color:orange;   
}
.pc{
    background-color: #0A1828 !important;
    color: white;
}
.lalala{
    background-color: orange;
}