*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#mission{
	height: 100%;
	background-color: #f2f2f2;
	color: black;	
}
#vision{
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}

.bg-primary {
    background-color: #0A1828 !important;
}
p{
	color: white;
}
.navbar-collapse{
	color: orange;
}
.navbar-brand b{
	color:orange;

}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;   
}
.orange{
    color:orange;   
}
.pc{
    background-color: #0A1828 !important;
    color: white;
}
.jumbotron{
	margin-top: 55px;
	padding: 0;
	background-image: url("../img/aboutus.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	background-position: center;
	width: 100%;
}
.lead{
	color: black;
	margin-top: 
}
.p-5{
	padding: 1rem;
	margin-top: 0;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
.jumbotron{
	height: 70vh;
}
}
.navbar{
	padding: 0 0;
}
