*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.row1{
	height: 100vh;	
	background-image: url("../img/background.jpg");
	text-align: center;
	opacity: .7;
	padding-top: 200px;
}
.map{
	color: white;
}
.email{
	color: white;
}
.contact{
	color: white;
}
.addr{
	color: white;
}
.land{
	color: white;

}
.email2{
	color: white;
}
