*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-image: url("../img/aboutbackground.jpeg");
	background-repeat: none;
	background-size: cover;
	color: white;
}

.bg-primary {
    background-color: #0A1828 !important;
}
.container-fluid{
	margin-top: 50px;
}
.card-body{
	padding: 20px 20px;
}
img{
	height: 200px;
	width: 100%;
}
div.card-body{
	background-color: grey;
}
.btn-primary {
    color: white;
    background-color: green;
    border-color: black;
}
.col-lg-3{
	border-radius: 10%;
}
.card{
	border:2px solid orange;	
}
.navbar-brand b{
	color:orange;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;   
}
.orange{
	color:orange;	
}
.row{
	margin:5px;
}
.col h2{
	margin-top: 65px;
}
footer{
	bottom: 0;
	padding: 1.2rem;
}
footer p{
	color: orange;
}