*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.bg-dark{
	background:#333;
	color: #f4f4f4;
}
footer p{
	margin: 0;
}
footer{
	padding: 2.2rem;
}	
.bg-primary {
    background-color: #0A1828 !important;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap;    
}
.navbar-brand b{
	color:orange;

}
.orange{
	color:orange;	
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    border:.5px solid orange;
}

.navbar{
    padding: 0 0;
}
#carouselExampleIndicators{
    margin-top:45px;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #carouselExampleIndicators{
    margin-top:45px;
}
.carousel-inner >  img {
  width:320px;
  height:360px;
}


