*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.bg-dark{
	background:#333;
	color: #f4f4f4;
}

.bg-primary {
    background-color: #0A1828 !important;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap;    
}
.navbar-brand b{
	color:orange;

}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    border:.5px solid orange;
}

.navbar{
    padding: 0 0;
}
.container{
    margin-top: 45px;
}
.banner{
    height: 50vh;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.row1{
    background-color: white;
}
.row1 h1{
    color:orange;
}
.bot{
    margin: 0 auto;
}
.bot img{
    height: 150px;
    width: 150px;
}
.orange {
    color: orange;
}
.carousel{
    height: 300px;
    width: 300px;
    margin: 50px auto;
    
    background-color: black;
}
/*.carousel{
    height: 300px;
    width: 300px;
    margin: 50px auto;
    
    background-color: black;
}
footer p{
    margin: 0;
}
footer{
    padding: 2.2rem;
}
.container{
   width: 100%;
   background-color: grey;
}
.banner{    
    margin-top: 70px;    
}
.orange{
    color:orange;   
} */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .carousel{
        height: 190px;
        width: 190px;
        margin-top: 20px;
    }

  }
  /* Portrait and Landscape */
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {    
        

    }
}


