*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size:cover;	
	background-attachment: fixed;
}
#jumbotron{	
	margin-top:200px;
	opacity: .3;

}
.display-4 {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2; 
    color: #020202;   
 }
.lead{
	color: #020202; 
}
.footer{
	color: white;
	margin-top: 400px;
}
.bg-primary {
    background-color: #0A1828 !important;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;    
}
.navbar-brand b{
	color:orange;

}
.orange{
	color:orange;	
}
.pc{
	background-color: #0A1828 !important;
	color: white;
}
.lalala{
	background-color: orange;
}